# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Environments
.env
.envrc
.venv
.direnv/
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs and editors
.idea/
.vscode/

# caches, state
osmnx_cache/
scraper_state.pkl
scraper_state_backup.pkl
fixup_data.csv
